
<br>
<div class="container-fluid">
    <!--Text and Python-->
    <div class="row">
        <!--C#-->
        <div class="col col-7">
            <div class="card text-center text-white bg-dark">
                <div class="card-header font-weight-bold">
                    C#
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea name="CSharpText" id="CSharpText" cols="100" rows="20" class="form-control"></textarea>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <button type="button" class="btn btn-warning" style="width: 100%;">
                                    Analizar Texto
                                </button>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Python-->
        <div class="col col-5">
            <div class="card text-center text-white bg-dark">
                <div class="card-header font-weight-bold">
                    Python
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea name="PythonText" id="PythonText" cols="100" rows="20" class="form-control" readonly></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!--Consoles-->
    <div class="row">
        <!--Symbols Table-->
        <div class="col">
            <div class="card text-center text-white bg-dark">
                <div class="card-header font-weight-bold">
                    Tabla de Símbolos
                </div>

                <div class="card-body">
                    <table>

                    </table>
                </div>
            </div>
        </div>        
        <!--HTML Report-->
        <div class="col">
            <div class="card text-center text-white bg-dark">
                <div class="card-header font-weight-bold">
                    HTML
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea name="HTMLText" id="HTMLText" cols="100" rows="10" class="form-control" readonly></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--JSON Report-->
        <div class="col">
            <div class="card text-center text-white bg-dark">
                <div class="card-header font-weight-bold">
                    JSON
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea name="JSONText" id="JSONText" cols="100" rows="10" class="form-control" readonly></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>